
.body-todolist{
  margin: 100px auto;
  top: 50px;
  height: calc(100vh - 500px);
  max-width: 90%;
}

.container{
  margin-top: 50px;
}

input[type=text]{
  width: 88%;
  height: 35px;
  font-size: 20px;
}

form{
  margin: 25px 15px 25px 15px;
}

button{
  height:40px;
  font-size: 20px;
}

.example-container {
  min-width: 31%;
  max-width: 100%;
  margin: 25px 15px 25px 15px;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  width: 10px;
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}

.todo{
  background-color: #ccc;
}

.doing{
  background-color: lightblue;
}

.done{
  background-color: lightgreen;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
